<launch>
  <node pkg="move_base" type="move_base" respawn="true" name="move_base" output="screen" clear_params="true">
    <rosparam file="$(find ucar_nav)/config/omni_test20250620/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find ucar_nav)/config/omni_test20250620/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find ucar_nav)/config/omni_test20250620/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find ucar_nav)/config/omni_test20250620/global_costmap_params.yaml" command="load" />
    <rosparam file="$(find ucar_nav)/config/omni_test20250620/global_planner_params.yaml" command="load" />
    <rosparam file="$(find ucar_nav)/config/omni_test20250620/move_base_params.yaml" command="load" />
    <rosparam file="$(find ucar_nav)/config/omni_test20250620/teb_local_planner_params.yaml" command="load" />
    <rosparam file="$(find ucar_nav)/config/omni_test20250620/teb_move_base_params_2026.yaml" command="load" />

    <!-- TEB publishes directly to the base driver's /cmd_vel topic. Do not
         remap it to /teb_cmd_vel unless a dedicated relay is also launched. -->
  </node>
</launch>
