<launch>
    <param name="use_sim_time" value="true"/>

    <!--起始点-->
    <arg name="initial_pose_x" default="0"/>
	<arg name="initial_pose_y" default="0"/>
	<arg name="initial_pose_a" default="0"/> 
  <include file="$(find ucar_controller)/launch/ucar_bringup.launch" />
  <include file="$(find ucar_cam)/launch/ucar_cam.launch" />
    
    
      <node pkg="yolo2025" name="shoot" type="cam.py" output="screen" respawn="false"/>
      
    </launch>